/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 90%;
    /* max-width: 1200px; */
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* .container {
    max-width: 1200px;
    margin: 0 auto;
} */

header {
    width: 100%;
    height: 90px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p{
    font-size: 18px;
    line-height: 1.2;
}

nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 2% 5%;
    font-weight: 600;
    
}

.logo {
    font-size: 32px;
    color: rgb(59, 57, 167);
    font-family: "Montserrat", sans-serif;
}

nav ul {
    display: flex;
    gap: 20px;
}
nav ul li {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in;
}
nav ul li:hover {
    border-bottom: 2px solid black;
    
}
.contenedor2 {
    width: 400px;
    margin: 0 auto;
}

.imagen_main {
    margin: 1rem 0;
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid black;
}

#inicio, #contacto {
    padding-top: 80px;
    min-height: 100vh;
}

#inicio h1, #inicio p, #inicio div{
    text-align: center;
    padding: 10px 0px;
}

div a{
    padding: 10px;
    border-radius: 20px;
    background-color: #008080;
    color: white;
    /* font-size: 20px; */
}

div a span {
    font-size: 20px;
}

#contacto {
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
}

#contacto h2, #contacto p {
    padding: 0.5rem 0.5rem;
}

#contacto  .article1 {
    background-color: #00808080;
    border-radius: 10px;
    margin-bottom: 3.5rem;
}

#contacto .article2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 9rem; */
    padding-bottom: 10rem;
}

#contacto .article2 a img {
    flex-wrap: wrap;
    width:  75px; /*Cambiar tamaÃ±o de iconos como de a*/
    height: 75px;
}
 footer {
    height: 90px;
    background-color: #008080;
    /* padding: 2rem; */
    padding: 5vh 0;
 }

 footer p {
        
        display: flex;
        justify-content: center;
        color: white;
    
 }

 #contacto .article2 a img {
    width: 75px;
    height: 75px;
    transition: filter 0.3s ease;
}

#contacto .article2 a:hover img {
    filter: invert(40%) sepia(80%) saturate(1000%) hue-rotate(120deg);
}


/* crear cuadro que salta */

.square {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem #555;
    animation: squareAnim 2s infinite linear;
    
}

@keyframes squareAnim {
    0% {
        transform: translateY(0.05rem);
    }

    20% {
        transform: translateY(0.4rem);
    }

    50%,
    60% {
        transform: translateY(0.64rem);
    }

    62% {
        transform: translateY(0.45rem);
    }

    80% {
        transform: translateY(0.10rem);
    }

    100% {
        transform: translateY(0.10rem);
    }
}

.img-vuelta {
    width: 2rem;
}



